
// colors

$color-grey-light: #fafafa ;
$color-grey-light-2: #e2dedeb9 ;
$color-green: #53c537;
$color-blog-text:rgba(163, 187, 163, 0.938); 
$color-grey-text: #e4e4e4 ;
$color-grey-text-2: #747279 ;
$color-heading: #223344 ;

$color-white:#fff;
$color-red: #ff0000;
$color-blue: #234;
$color-red-orginal: #fb2c3a;



$red-salsa: #f94144ff;
$orange-red: #f3722cff;
$yellow-orange-color-wheel: #f8961eff;
$mango-tango: #f9844aff;
$maize-crayola: #f9c74fff;
$pistachio: #90be6dff;
$zomp: #43aa8bff;
$cadet-blue: #4d908eff;
$queen-blue: #577590ff;
$cg-blue: #277da1ff;