
// colors

$color-grey-light: #fafafa ;
$color-green: #53c537; 
$color-grey-text: #d9d9d9 ;
$color-heading: #223344 ;

$color-white:#fff;
$color-red: #ff0000;
$color-blue: #234;
$color-red-orginal: #fb2c3a;