@mixin keyframe_inout {
	@keyframes inout {
	    0%{
		transform: scale(1.1);
		filter: blur(1px);
	    }
	    100%{
		filter: blur(2px);
	
		transform: scale(1);
	
	    }
	}
	animation-name: inout;
	animation-duration: 4s;
	animation-timing-function: ease;
    
}
@mixin keyframe_outIn {
	@keyframes outIn {
		0%{
		background-blend-mode: darken;
		opacity: 0.89;
		transform: scale(1);
		animation-timing-function: ease;
		
		}
		100%{
		background-blend-mode: lighten;
		transform: scale(1.1);
		opacity: 1;
		animation-timing-function: ease;
		}

	}
	animation-name: outIn;
	animation-duration: 4s;
	animation-timing-function: ease;
}

// responsive 

@mixin phone-only {
	@media only screen and (max-width: 768px) { @content; }
}

@mixin tablet {
	@media only screen and (max-width: 1079px) { @content; }
}

@mixin tablet-landscape {
	@media only screen and (max-width: 900px) { @content; }
}

@mixin desktop {
	@media only screen and (max-width: 1200px) { @content; }
}

@mixin big-desktop {
	@media only screen and (max-width: 1800px) { @content; }
}