$color-white:#fff;
$color-red: #ff0000;
$color-blue: #234;
$media-large: 75em;
$media-md: 51.875em;
$media-small: 500px;
.header_container{

    background-image: url(../img/header.png);
    width: 100%;
    height: 105vh;
    background-size: cover;
    background-position: top;
}

.header{

    &__nav{
        @include phone-only{
            margin: 0;
            padding: 0; 
            height: 7rem;
            position: fixed;
            top: 0;
            background-color: $color-white;
            width: 100%;
            z-index: 999;
        }
        @include tablelt{
            margin: 0;
            padding: 0; 
            height: 7rem;
            position: fixed;
            top: 0;
            background-color: $color-white;
            width: 100%;
            z-index: 999;
        }
        transition: all ease 500ms;
        &--list{
            
            display: flex;
            list-style: none;
            align-items: center;
            align-content: center;
            margin: 0rem 10rem ;
        }
        &--item{
            
            margin-top: 2.2rem;
            &-logo{
                margin-left: auto;
                // color: $color-white;
                 font-size: 5rem;
                 font-weight: 100;
                 letter-spacing: 2px;
            } 
            &-link{
                &:link, &:visited{
                text-decoration: none;
                color: $color-white;
                // color: #222;

                font-size: 1.8rem;
                font-weight: 100;
                padding-bottom: 2rem;
                margin: 3rem 3rem;
                position: relative
                }
                &::after{
                    content: "";
                    width: 0%;
                    height: 2px;
                    background-color: $color-white;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    transition: all 0.2s ease-in-out;
                }
                &:hover::after{
                    width: 100%;
                }
                &-1{
                    @include tablelt{
                        display: none;
                    }
                    font-size: 1.8rem;
                    font-weight: 100; 
                    transition: all 0.2s;
                    color: $color-white;
                    text-decoration: none;
                    border: 2px solid $color-white;
                    padding: 0.4rem 3.2rem;
                    border-radius:5px;
                    &:hover{
                        color: $color-blue;
                        background-color: $color-white;
                    }
                }
                &-2{
                    font-family: 'Righteous', cursive;
                    text-transform: uppercase;
                    color: $color-white;
                    text-decoration: none;
                    @include phone-only{
                        color: #fb2c3a;
                    }
                    @include tablelt{
                        color: #fb2c3a;
                        
                    }
                }
                
            } 
            
           
        }
    }
    &__heading{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 73%;
        text-align: center;
        
        &__primari--span{
            display: block;
            font-size: 5.5rem;
            color: $color-white;
            font-weight: 400;
            padding:0 8rem;
            &::selection{
                background-color: $color-blue;
                color: $color-red;
            }
        }
    }

}

nav{
    position: relative;
}

///////////////////////////////////////////responsive
.header__nav--item--responsive{
    display: none;
}
@media screen and (max-width: $media-large){
    .padding{
    display: none ;
    }
    .header__nav{
        &--list{
            margin: 0 5rem;
        }
        &--menu{
            width: 35px;
            height:3px;
            background-color: $color-white;
            border: none;
            outline: none;
            cursor: pointer;
            position: relative;
            &::after{
                content: "";
                width: 35px;
                height:3px; 
                position: absolute;
                top: 8px;
                left: 0;
                background-color: $color-white;
            }
            &::before{
                content: "";
                width: 35px;
                height:3px;
                position: absolute;
                top: -8px;
                left: 0;
                background-color: $color-white;
            }
        }
        &--item--responsive{
            width: 40px;
            height: 30px;
            display: flex;
           margin-top: 4.9rem;
           margin-right: 3rem;
           cursor: pointer;
        }
    }   
}
@media screen and (max-width:$media-md){
    .header__nav{
        &--item-contact{
            display: none;
        }  
        &--item-logo{
            font-size: 4rem;
        }    
    }
    .header__heading__primari--span{
        font-size: 4rem
    }
    .header_container{
        height: 75vh;
    }
}
@media screen and (max-width:$media-small){
    .header__heading__primari--span{
        font-size: 3rem;
        padding: 0 3rem;
        
    }
    .header_container{
        height: 65vh;
    }
    .header__nav{  
        &--item-logo{
            font-size: 3.5rem;
        }  
        &--list{
            margin: 0 2rem;
        }  
    }
}

.full_header{
    &.header__nav{
        margin: 0;
        padding: 0; 
        height: 7rem;
        position: fixed;
        top: 0;
        background-color: $color-white;
        width: 100%;
        z-index: 999;
    }
    &.header{
        background-color: $color-white;
    }
    &.header__nav--item-link{
        color: #222;
        &::after{
            content: "";
            width: 0%;
            height: 2px;
            background-color: #fb2c3a;
            position: absolute;
            top: 79%;
            left: 0;
            transition: all 0.2s ease-in-out;
        }  &:hover::after{
            width: 100%;
        }
    }
    &.header__nav--item-link-2{
        color: #fb2c3a;
    }
    &.header__nav--item-link-1{
        border-color: #fb2c3a;
        color: #fb2c3a;
        transition: all ease 500ms;
        border-radius: 8px;
        &:hover{
            background-color: #fb2c3a;
            color: $color-white;
        }
    }
    &.header__nav--list{
        align-items: center;
        margin: -2rem 10rem ;
        
    }
    
}
.header__nav--list{
    @include phone-only{
        align-items: center;
        margin: -2rem 10rem ;
    }
    @include tablelt{
        align-items: center;
        margin: -2rem 10rem ;
    }
}
.bars-respansive{
    margin-top: 1rem;
    font-size: 6rem;
    color: #222;
    display: none;

    @include tablelt{
        display: block;
    }
    @include phone-only{
        display: block;
        font-size: 4rem;
        margin-top: 3rem;

    }
}


.hidden{
    display: none;
}
.bar-md-menu{
    transition: height ease 500ms;
    @include tablelt{
        top: 11.4%;
    }
    @include phone-only{
    top: 8%;

    }
    width: 100%;
    background-color: $color-white;
    position: fixed;
    top: 8%;
    height: 100vh;
    z-index: 999;
    &__item{
        margin: 4rem;
        list-style: none;
        &-link{
            font-size: 2.1rem;
            text-decoration: none;
            color: #222;
            position: relative;
            transition: all 0.2s ease-in-out;

            &::after{
                content: "";
                width: 0%;
                height: 2px;
                background-color: #fb2c3a;
                position: absolute;
                top: 88%;
                left: 0;
                transition: all 0.2s ease-in-out;
            }  &:hover::after{
                width: 100%;
            }
        }
        &-about{
            font-size: 2.1rem;
            text-decoration: none;
            color: #fb2c3a;
            border: 1px solid #fb2c3a;
            border-radius: 8px;
            padding: 1rem;
            transition: all ease 500ms;
            &:hover{
                background-color: #fb2c3a;
                color: $color-white;
            }
        }
    }
}
.fa-bars::before{
    transition: content ease 500ms;
}
.open-bars.fa-bars::before{
    content: "\f00d";
}