.btn{
    &--login{
        background: -webkit-linear-gradient(to right, #e52d27, #b31217); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #e52d27, #b31217);
        color: #fff;
        
        width: 30%;
        padding: 1rem;
        font-family: inherit;
        font-size: 1.9rem;
        cursor: pointer;
        outline: none;
        border-radius: 8px;
        border: 1px solid #eee;
    }
    &--register{
        display: block;
        color: $color-white;
        background-color: $yellow-orange-color-wheel;
        width: 30%;
        padding: 1rem;
        font-family: inherit;
        font-size: 1.9rem;
        cursor: pointer;
        outline: none;
        border-radius: 8px;
        border: 1px solid #eee;
    }
}