.about__heading-center {
    margin: 0 auto;
    font-size: 3rem;
    width: 65%;
    text-align: center;
    @include phone-only {
        font-size: 1.8rem;
    }
    @include tablelt {
        font-size: 2.5rem;
    }
    @include tablet-landscape {
        font-size: 2rem;
    }
    &-span {
        color: red;
    }
    &-para {
        font-size: 2rem;
    }
    &__img {
        display: grid;
        place-items: center;
        &>img {
            transform: translateX(50%);
        }
    }
}

.img {
    width: 100%;
    transform: translateX(0);
    height: 90rem;
}

//444
.about__us__part-1 {
    background-image: url("../img/green-pattern.png");
    width: 100%;
    height: 30rem;
    margin: 4rem 0;
    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: 100%;
        @include tablelt {
            flex-direction: column;
        }
    }
    &--heading {
        font-size: 3.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        &>span {
            font-size: 2.3rem;
            @include tablelt {
                margin-top: -2rem;
            }
        }
        position: relative;
        &:last-child::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 150%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
            @include tablelt {
                display: none;
            }
        }
        &:nth-child(2)::after {
            content: "";
            width: 180%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 200%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
            @include tablelt {
                display: none;
            }
        }
    }
}

//55555
.about__us__part-2 {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__box {
        width: 100%;
        display: flex;
        flex-direction: row;
        @include tablelt {
            flex-direction: column;
        }
        align-items: center;
        justify-content: space-around;
    }
    &--heading {
        font-size: 8.2rem;
        font-weight: 400;
    }
    &--article {
        @include tablelt {
            margin-bottom: 4rem;
        }
        &_heading {
            font-size: 2.8rem;
        }
        &_paragraph {
            font-size: 1.6rem;
            text-align: justify;
            @include tablelt {
                text-align: center;
            }
        }
        width: 21rem;
        @include tablelt {
            width: 80%;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        &:not(:nth-child(1))::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
    }
}

.about__us__part-3 {
    background-image: url("../img/technology.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30rem;
    margin: 4rem 0;
    position: relative;
    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: 100%;
        @include phone-only {
            display: inline-block;
        }
    }
    &--heading {
        font-size: 2.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        &>span {
            font-size: 2.3rem;
            @include tablelt {
                font-size: 1.5rem;
            }
        }
        position: relative;
        &:last-child::after {
            content: "";
            width: 80%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
        &:nth-child(2)::after {
            content: "";
            width: 50%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 120%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
        &:nth-child(3)::after {
            content: "";
            width: 80%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 120%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
        &:nth-child(4)::after {
            content: "";
            width: 80%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 120%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
    }
}

.about__us__part-4 {
    &__heading {
        font-weight: 400;
        font-size: 1.9rem;
        text-align: center;
        width: 100%;
    }
    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__box {
        width: 95%;
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-template-rows: repeat(2, 250px);
        grid-gap: 2rem;
    }
    &--article {
        border: 1px solid #E3E3E3;
        padding: 2rem;
        &-1 {
            border-top: 3px solid yellow;
        }
        &-2 {
            border-top: 3px solid green;
        }
        &-3 {
            border-top: 3px solid blue;
        }
        &-4 {
            border-top: 3px solid rgb(173, 48, 48);
        }
    }
}