//header
$color-white:#fff;
$color-red: #ff0000;
$color-blue: #234;
$media-large: 75em;
$media-md: 51.875em;
$media-small: 500px;
.header__nav--item--responsive {
    display: none;
}

@media screen and (max-width: $media-large) {
    .padding {
        display: none;
    }
    .header__nav {
        &--list {
            display: flex;
        }
        &--menu {
            width: 35px;
            height: 3px;
            background-color: $color-white;
            border: none;
            outline: none;
            cursor: pointer;
            position: relative;
            &::after {
                content: "";
                width: 35px;
                height: 3px;
                position: absolute;
                top: 8px;
                left: 0;
                background-color: $color-white;
            }
            &::before {
                content: "";
                width: 35px;
                height: 3px;
                position: absolute;
                top: -8px;
                left: 0;
                background-color: $color-white;
            }
        }
        &--item--responsive {
            width: 40px;
            height: 30px;
            display: flex;
            margin-top: 4.9rem;
            margin-right: 3rem;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:$media-md) {
    .header__nav {
        &--item-contact {
            display: none;
        }
        &--item-logo {
            font-size: 4rem;
        }
    }
    .header__heading__primari--span {
        font-size: 4rem
    }
    .header_container {
        height: 75vh;
    }
}

@media screen and (max-width:$media-small) {
    .header__heading__primari--span {
        font-size: 3rem;
        padding: 0 3rem;
    }
    .header_container {
        height: 65vh;
    }
    .header__nav {
        &--item-logo {
            font-size: 3.5rem;
        }
        &--list {
            margin: 0 2rem;
        }
    }
}

.bars-respansive {
    font-size: 6rem;
    color: #222;
    display: none;
    margin-left: 2rem;
}

.bar-md-menu {
    transition: height ease 500ms;
    height: 100vh;
    width: 100%;
    background-color: $color-white;
    position: fixed;
    top: 8%;
    z-index: 999;
    &__item {
        margin: 4rem;
        list-style: none;
        &-link {
            font-size: 2.1rem;
            text-decoration: none;
            color: #222;
            position: relative;
            transition: all 0.2s ease-in-out;
            &::after {
                content: "";
                width: 0%;
                height: 2px;
                background-color: #fb2c3a;
                position: absolute;
                top: 88%;
                left: 0;
                transition: all 0.2s ease-in-out;
            }
            &:hover::after {
                width: 100%;
            }
        }
        &-about {
            font-size: 2.1rem;
            text-decoration: none;
            color: #fb2c3a;
            border: 1px solid #fb2c3a;
            border-radius: 8px;
            padding: 1rem;
            transition: all ease 500ms;
            &:hover {
                background-color: #fb2c3a;
                color: $color-white;
            }
        }
    }
}

.fa-bars::before {
    transition: content ease 500ms;
}

.open-bars.fa-bars::before {
    content: "\f00d";
}

.hidden {
    display: none;
}

// update header
.header__nav--list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-box {
        display: flex;
        width: 58%;
        justify-content: space-around;
        align-items: center;
    }
}

.full_header {
    &.header__nav {
        margin: 0;
        padding: 0;
        height: 7rem;
        position: fixed;
        top: 0;
        background-color: $color-white;
        width: 100%;
        z-index: 999;
    }
    &.header {
        background-color: $color-white;
    }
    &.header__nav--item-link-2 {
        color: #fb2c3a;
    }
    &.header__nav--item-link-1 {
        border-color: #fb2c3a;
        color: #fb2c3a;
        transition: all ease 500ms;
        border-radius: 8px;
        &:hover {
            background-color: #fb2c3a;
            color: $color-white;
        }
    }
    &.header__nav--list {
        align-items: center;
    }
    &.header__nav--item-link {
        color: #222;
        &::after {
            content: "";
            width: 0%;
            height: 2px;
            background-color: #fb2c3a;
            position: absolute;
            top: 79%;
            left: 0;
            transition: all 0.2s ease-in-out;
        }
        &:hover::after {
            width: 100%;
        }
    }
}

///header
.about__heading-center {
    margin: 0 auto;
    font-size: 3rem;
    width: 65%;
    text-align: center;
    @include phone-only {
        font-size: 1.8rem;
    }
    @include tablelt {
        font-size: 2.5rem;
    }
    @include tablet-landscape {
        font-size: 2rem;
    }
    &-span {
        color: red;
    }
    &-para {
        font-size: 2rem;
    }
    &__img {
        display: grid;
        place-items: center;
        &>img {
            transform: translateX(50%);
        }
    }
}

.img {
    width: 100%;
    transform: translateX(0);
    height: 90rem;
}

//444
.about__us__part-1 {
    background-image: url("../img/green-pattern.png");
    width: 100%;
    height: 30rem;
    margin: 4rem 0;
    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: 100%;
        @include tablelt {
            flex-direction: column;
        }
    }
    &--heading {
        font-size: 3.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        &>span {
            font-size: 2.3rem;
            @include tablelt {
                margin-top: -2rem;
            }
        }
        position: relative;
        &:last-child::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 150%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
            @include tablelt {
                display: none;
            }
        }
        &:nth-child(2)::after {
            content: "";
            width: 180%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 200%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
            @include tablelt {
                display: none;
            }
        }
    }
}

//55555
.about__us__part-2 {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__box {
        width: 100%;
        display: flex;
        flex-direction: row;
        @include tablelt {
            flex-direction: column;
        }
        align-items: center;
        justify-content: space-around;
    }
    &--heading {
        font-size: 8.2rem;
        font-weight: 400;
    }
    &--article {
        @include tablelt {
            margin-bottom: 4rem;
        }
        &_heading {
            font-size: 2.8rem;
        }
        &_paragraph {
            font-size: 1.6rem;
            text-align: justify;
            @include tablelt {
                text-align: center;
            }
        }
        width: 21rem;
        @include tablelt {
            width: 80%;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        &:not(:nth-child(1))::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
    }
}

.about__us__part-3 {
    background-image: url("../img/technology.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30rem;
    margin: 4rem 0;
    position: relative;
    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: 100%;
        @include phone-only {
            display: inline-block;
        }
    }
    &--heading {
        font-size: 2.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        &>span {
            font-size: 2.3rem;
            @include tablelt {
                font-size: 1.5rem;
            }
        }
        position: relative;
        &:last-child::after {
            content: "";
            width: 80%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
        &:nth-child(2)::after {
            content: "";
            width: 50%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 120%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
        &:nth-child(3)::after {
            content: "";
            width: 80%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 120%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
        &:nth-child(4)::after {
            content: "";
            width: 80%;
            height: 2px;
            background-color: #E3E3E3;
            position: absolute;
            top: 50%;
            left: 120%;
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }
    }
}

.about__us__part-4 {
    &__heading {
        font-weight: 400;
        font-size: 1.9rem;
        text-align: center;
        width: 100%;
    }
    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__box {
        width: 95%;
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-template-rows: repeat(2, 250px);
        grid-gap: 2rem;
    }
    &--article {
        border: 1px solid #E3E3E3;
        padding: 2rem;
        &-1 {
            border-top: 3px solid yellow;
        }
        &-2 {
            border-top: 3px solid green;
        }
        &-3 {
            border-top: 3px solid blue;
        }
        &-4 {
            border-top: 3px solid rgb(173, 48, 48);
        }
    }
}

.contact {
    background-image: url(/img/xbg-form-gray.jpg.pagespeed.ic.ehU-ftk8jC.webp);
    margin: 0 auto;
    &__title {
        &--h {
            text-align: center;
            display: block;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-size: 2.5rem;
            line-height: 6rem;
            font-weight: 300;
            margin: 0 0 20px;
            position: relative;
        }
        &--p {
            display: block;
            text-align: center;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-size: 1.7rem;
            line-height: 3.8rem;
            position: relative;
            &::before {
                content: "";
                //display: block;
                background-color: green;
                height: 1px;
                width: 4rem;
                position: absolute;
                top: -50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &__span {
        color: green;
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding: 6rem;
        &--container {
            margin: 0 auto;
            background-color: #fff;
            margin-top: 2rem;
            width: 90rem;
            box-shadow: 0 0 30px 2px #d9d9d9;
            @media only screen and (max-width: 900px) {
                width: 70%;
            }
            @media only screen and (max-width: 400px) {
                width: 100%;
            }
        }
    }
}

label {
    font: inherit;
}

.field {
    flex: 0 0 48%;
    position: relative;
    &--double {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 900px) {
            flex-direction: column;
        }
    }
}

.form {
    &__input,
    &__text {
        position: relative;
        font-size: 1.7rem;
        font-family: inherit;
        display: block;
        font-weight: 300;
        outline: 0;
        background-color: white;
        width: 100%;
        padding: 2.5rem 2rem 1.4rem 6rem;
        border: 1px solid grey;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        transition: all 0.2s;
        cursor: text;
        text-align: start;
        &:focus {
            box-shadow: 0 0 .1rem .1rem rgba(green, 1);
        }
        &:invalid {
            box-shadow: 0 0 .1rem .1rem rgba(red, 1);
        }
        &:not(:placeholder-shown)~label {
            font-size: 1.3rem;
            transform: scale(0.98) translate(-2%, -30%);
            padding-right: 1rem;
        }
    }
    &__input:focus~label {
        font-size: 1.3rem;
        transform: scale(0.98) translate(-2%, -30%);
        padding-right: 1rem;
    }
    &__text:focus~label {
        font-size: 1.3rem;
        transform: scale(0.98) translate(-2%, -30%);
        padding-right: 1rem;
    }
    &__tooltip {
        display: none;
    }
    &__submit {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }
    &--submit {
        background-color: green;
        color: grey;
        border: 2px solid green;
        cursor: pointer;
        line-height: 2.2rem;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        width: 20rem;
        align-self: center;
        font-size: xx-large;
        font-weight: 100;
        font-family: inherit;
        &:hover {
            background-color: white;
            color: green;
        }
    }
    &__label {
        text-indent: 0;
        font-size: 1.7rem;
        line-height: 6rem;
        position: absolute;
        display: block;
        color: #a4a8ad;
        top: 0;
        left: 0;
        transition: 0.1s linear;
        pointer-events: none;
        text-align: right;
        z-index: 4;
        background-color: transparent !important;
        padding: 1rem 3rem 2rem 1rem;
        width: 100%;
        height: 6rem;
    }
    &__cookies {
        width: 60%;
        align-self: center;
        font-weight: 100;
        margin-top: 2rem;
        text-align: center;
    }
    &__cookie--text {
        font-size: 1.6rem;
        user-select: none;
    }
}

.attach {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__tigger {
        padding-top: 1.5rem;
        display: flex;
        text-align: right;
        font-size: 1.7rem;
        line-height: 2rem;
        position: relative;
        height: 2.4rem;
        color: #58c344;
        border: none;
        background-color: inherit;
        font-family: inherit;
        cursor: pointer;
        &--icon {
            width: 2rem;
            height: 2rem;
            fill: #58c344;
        }
    }
    &__file {
        padding-top: 2rem;
        display: none;
    }
    &__description {
        padding-top: 2rem;
        background-color: #fff;
        padding-bottom: 5px;
        font-size: 13px;
        line-height: 13px;
        color: #a6aaaf;
        text-align: right;
    }
}

.invalid.form__tooltip {
    display: block;
    padding: 5px 8px;
    background: #f83535;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    top: 100%;
    margin-top: -2.5rem;
    right: 10px;
    max-width: 96%;
    z-index: 3;
    text-align: center;
    &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 11px solid #f83535;
        position: absolute;
        top: -10px;
    }
}

.footer {
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    background-color: #3d3c42;
    &__category--1 {
        padding: 30px;
    }
    &__category {
        padding: 30px;
    }
    &__list {
        list-style: none;
        margin: 45px 20px;
    }
    &__list--item {
        margin-top: 25px;
    }
    &__list--item>a {
        text-decoration: none;
        color: #868688;
        line-height: 18px;
        transform: all ease 500ms;
    }
    &__list--item>a:hover {
        color: #dedee4;
    }
    &__list a {
        text-decoration: none;
    }
    &__category--title {
        text-decoration: none;
        color: #fff;
    }
    &__logo {
        color: #fb2c3a;
        font-family: 'Righteous', cursive;
        text-transform: uppercase;
    }
    &__list--text {
        width: 100%;
        height: 80px;
        background-color: #2d2c31;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #868688;
    }
}

.about-img__page--respansive {
    &-1 {
        width: 100%;
    }
    &-2 {
        width: 100%;
    }
    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}