.admin {
  &__svg {
    width: 2rem;
    height: 2rem; 
    outline: none;
    border: none;
    background-color: none;
    fill: #6c7383;

    &--arrow{
      margin-left: 0;
      margin-right: auto;
    }
    &--notif{
      &::before{
        content: ".";
        font-size: 80px;
        color: red;
        position: absolute;
        transform: translate(8px, -84px);
      }
    }
  }

  &__search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    &--btn{
      border: none;
      background-color: unset;
      cursor: pointer;
    }
    &--input {
      font-family: inherit;
      border: none;
      background-color: #fff;
      padding: 1rem 2rem;
      border-radius: 1000rem;
      color: #6c7383;
      &:focus{
        outline: none;
      }
    }
    &--svg{
      width: 2rem;
      height: 2rem;
      fill: #6c7383;
      transform: translate(-1.5rem);
    }
    
  }

  &__snackbar{
    &--1{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--item1{
      margin: 1rem;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &--item2{
      margin: 1rem;
    }
    &--2{
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    &--profile{
      &-img{
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &--logo{
      width: 4rem;
      height: 4rem;
      text-decoration: none;
      display: flex;
      margin-left: 1rem;
    }
    &--notifbar{
      &-btn{
        border: none;
        background-color: unset;
      }
    }
    &--navbar{
      &-btn{
        border: none;
        background-color: unset;
        margin-right: 13rem;
        cursor: pointer;
      }
    }
    &--a{
      color: #6c7383;
      font-size: 2.5rem;
    }

    &--menu{
      text-align: center;
      align-self: flex-start;
      justify-content: flex-start;
      color: #6c7383;
      cursor: pointer;
    }
  }

  &__navbar{
    &--items{
      list-style: none;
    }
    &--item{
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: start;
      width: 88%;
    }
    &--a{
      padding: 1rem;
      text-decoration: none;
      color: #6c7383;
    }
  }
}
