.container {
	&__experties {
		background-position: 50% 50%;
		padding: 10rem 0;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	&__webapp {
		background-position: 50% 50%;
		padding: 1rem 0;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	&__scale {
		padding-top: 10rem;
		padding-bottom: 10rem;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url(../../img/services-scale-bg.webp);
	}

	// &__steps{

	// }

	// &__advantages{

	// }

	// &__security{

	// }

	// &__technologies{

	// }

	&__marketing{
		width: 100%;
		height: 35rem;
		background-image: url(../../img/services-marketing.webp);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		box-sizing: border-box;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.services {
	&__h3 {
		margin: 0;
		font-weight: 300;
		font-size: 5.2rem;
		line-height: 7rem;
		margin-bottom: 3rem;
		&--marketing{
			font-size: 1.9rem;
			margin-bottom: 1rem;
		}
	}
	&__p{
		font-size: 2rem;
		text-align: center;
		font-weight: 100;
		width: 60%;
		&--right{
			text-align: right;
		}
		&--marketing{
			font-size: 0.9rem;
			margin-bottom: 1rem;
		}
	}

	&__ul{
		font-size: 1.3rem;
		text-align: center;
		font-weight: 100;
	}

	&__webapp{
		&--box{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 3rem 3rem;
			float: none;
			vertical-align: bottom;
			text-align: center;
		}

		&--img{
			width: 40%;
			float: left;
			padding-top: 13rem;
		}
	}

	&__marketing{
		&--title{
			font-weight: 300;
			font-size: 3.9rem;
			line-height: 3.9rem;
			color: #fff;
		}
		&--box{
			margin-top: 3rem;
			background-color: #fff;
			width: 60%;
			height: 52%;
			display: flex;
		}
		&--img{
			display: inline-block;
			height: 15rem;
			width: 35rem;
			padding: 1rem;
		}
		&--text{
			width: 50%;
			margin: 2rem;
			line-height: 2.5rem;
		}
		
	}
	&__btn{
		color: $color-green;
		border: 1px solid $color-green;
		cursor: pointer;
		line-height: 2.2rem;
		padding: 0.5rem 3rem;
		align-self: center;
		font-weight: 100;
		font-family: inherit;
		text-decoration: none;
		margin-bottom: 1rem;
		font-size: larger;
		&:hover{
			background-color: $color-green;
			color: #fff;
		}
	}
}

.li--webapp{
	position: relative;
	font-size: 1.3rem;
	text-align: right;
	font-weight: 100;
	width: 50%;
	padding: 1.5rem;
	padding-right: 6rem;
	list-style: none;
	&::before{
		content: "";
		background-image: url(../../img/green-tik.png);
		top: 2rem;
		right: 3rem;
		display: block;
		position: absolute;
		width: 1.5rem;
		height: 1.1rem;
		
	}
}